// Percentage height based banners

html, body { height: 100%; }

.banner {
  //position: relative;
  width: 100%;
  &:after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }
}

.min-y100 { min-height: 100%; }

.y100 { height: 100%; }
.y75  { height: 75%; }
.y50  { height: 50%; }
.y25  { height: 25%; }

