// Grid
//
// Usage:
// <div class="wrap">
//   <div class="grid-row">
//     <div class="grid grid-4"> </div>
//     <div class="grid grid-8"> </div>
//   </div>
// </div>

// max-width of 75rem (1200px) sets 1 column to 4.5rem (72px)
$max-width: 75rem;
$gutter: 2%;

.wrap {
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
}

@include break(medium-plus){
  .grid-row {
    overflow: hidden;
    // Remove 2% from each side because 96% is divisible by 12
    &:before {
      content: ' ';
      float: left;
      width: 2%;
      height: 1px;
    }
    &:after {
      content: ' ';
      float: left;
      width: 2%;
      height: 1px;
    }
  }
  .grid {
    float: left;
    margin-right: $gutter/2;
    margin-left: $gutter/2;
  }
  @for $i from 1 through 12 {
    .grid-#{$i} {
      width: percentage($i/12) - $gutter - 4%/12*$i;
    }
    .grid-pre-#{$i} {
      margin-left: percentage($i/12) + $gutter/2 - 4%/12*$i;
    }
    .grid-post-#{$i} {
      margin-right: percentage($i/12) + $gutter/2 - 4%/12*$i;
    }
    .wrap-#{$i} {
      width: percentage($i/12) - $gutter - 4%/12*$i;
      max-width: (percentage($i/12) - $gutter - (4%/12*$i))/100% * $max-width;
      margin-right: auto;
      margin-left: auto;
    }
  }
}


