// Kickstarter type scale

.ksr-type {

  line-height: 20px;

  h1, .h1 { font-size: 32px; line-height: 40px; }
  h2, .h2 { font-size: 28px; line-height: 40px; }
  h3, .h3 { font-size: 22px; line-height: 30px; }
  h4, .h4 { font-size: 16px; line-height: 30px; }
  h5, .h5 { font-size: 14px; line-height: 20px; }
  h6, .h6, small, .small { font-size: 12px; line-height: 20px; }
  p, dl, ol, ul { line-height: 20px; }

  .responsive, &.responsive {
    @media (min-width: 768px) {
      .h1, &.h1 { font-size: 60px; line-height: 60px; }
      .h2, &.h2 { font-size: 48px; line-height: 50px; }
      .h3, &.h3 { font-size: 32px; line-height: 40px; }
    }
  }

  //.type-margins, &.type-margins {
    h1, .h1, h2, .h2, h3, .h3, p, .p, dl, ol, ul { margin-bottom: 20px; }
    h4, .h4, h5, .h5, h6, .h6 { margin-bottom: 10px; }
  //}

  .mb0 { margin-bottom: 0; }

  .list {
    padding-left: 20px;
    li { margin-bottom: 10px; }
  }

  .list-simple {
    list-style: none;
    padding-left: 0;
  }

}

