// Theme

$blue: #0096cc;
$blue: #0ad;
// $blueprint: #07a;

body {
  color: #555;
}

.white { color: #fff; }
.bg-white { background-color: #fff; }
.blue { color: $blue; }
.bg-blue { background-color: $blue; }
.bg-pink { background-color: pink; }

.button-blue {
  color: #fff;
  background-color: $blue;
  &:hover {
    background-color: lighten($blue,10%);
  }
}


.outline, .outline * {
  color: rgba($blue,.6);
  outline: 1px solid rgba($blue, .3);
  input {
    border-color: rgba($blue, .6);
    background-color: rgba(#fff,.2);
  }
  .button {
    background-color: rgba($blue, .2);
  }
}

.outline2, .outline2 * {
  outline: 1px solid rgba($blue, .3);

  input {
    border-color: rgba($blue, .6);
    background-color: rgba(#fff,.2);
  }
  button {
    color: #fff;
    background-color: $blue;
  }
}

