// Theme

$blue: #0096cc;

body {
  color: #333;
}

.white { color: #fff; }
.bg-white { background-color: #fff; }
.blue { color: $blue; }
.bg-blue { background-color: $blue; }

.button-blue {
  color: #fff;
  background-color: $blue;
  &:hover {
    background-color: lighten($blue,10%);
  }
}

