// Typography

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6, p, dl, ol, ul {
  margin-bottom: 1rem;
}

// Base Type Scale

h1, .h1 {
  font-size: 2rem;
  line-height: 3rem;
}

h2, .h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h3, h4, h5, h6, dl, ol, ul, p, .p {
  font-size: 1.125rem;
}

small, .small {
  font-size: .875rem;
}

// Responsive Type Scale
// Apply the .responsive class directly to elements or their parents
.responsive {
  @media (min-width: 768px) {
    .h1, &.h1 {
      font-size: 4rem;
      line-height: 5rem;
    }
    .h2, &.h2 {
      font-size: 2rem;
      line-height: 3rem;
    }
    .p, &.p {
      font-size: 1.25rem;
    }
    .small, &.small { font-size: 1rem; }
  }
  @media (min-width: 1024px) {
    .h1, &.h1 {
      font-size: 6rem;
      line-height: 8rem;
    }
    .h2, &.h2 {
      font-size: 3rem;
      line-height: 4rem;
    }
  }
}

// Utilities
.bold { font-weight: bold; }
.italic { font-style: italic; }
.regular { font-weight: normal; }
.caps { text-transform: uppercase; letter-spacing: .2em; }
.center { text-align: center; }
.right-align  { text-align: right; }

