// Type

/*
$base: 1rem;

body {
  line-height: 1.5*$base;
}
h1, .h1 {
  font-size: 2*$base;
  line-height: 3*$base;
}
h2, .h2 {
  font-size: 1.5*$base;
  line-height: 2*$base;
}
h3, .h3 {
  font-size: 1.25*$base;
  line-height: 2*$base;
}
h4, .h4, h5, .h5, p, .p {
  font-size: 1*$base;
}
h6, .h6, small, .small {
  font-size: .875*$base;
}

.responsive {
  @media (min-width: 768px) {
    .h1, &.h1 {
      font-size: 4*$base;
      line-height: 5*$base;
    }
    .h2, &.h2 {
      font-size: 3*$base;
      line-height: 4*$base;
    }
    .h3, &.h3 {
      font-size: 2*$base;
      line-height: 3*$base;
    }
    .h4, &.h4, .h5, &.h5, .p, &.p {
      font-size: 1.125*$base;
    }
    .h6, &.h6, .small, &.small {
      font-size: 1*$base;
    }
  }
  @media (min-width: 1024px) {
    .h1, &.h1 {
      font-size: 6*$base;
      line-height: 8*$base;
    }
  }
}
*/


.georgia { font-family: Georgia, serif; }
.aktive { font-family: "aktiv-grotesk-std" sans-serif; }
.garamond { font-family: "adobe-garamond-pro"; }
.tisa { font-family: "ff-tisa-web-pro"; }
.chaparral { font-family: "chaparral-pro"; }
.spinoza { font-family: "ff-spinoza-web-pro"; }
.warnock { font-family: "warnock-pro"; }
.open-sans { font-family: "open-sans"; }
.freight-sans { font-family: "freight-sans-pro"; }

