// Tempo
// Type scale with vertical rhythm

@import "basscss";
// @import "type";
@import "forms";

@import "theme";

.georgia { font-family: Georgia, serif; }
.aktive { font-family: "aktiv-grotesk-std" sans-serif; }
.garamond { font-family: "adobe-garamond-pro"; }
.tisa { font-family: "ff-tisa-web-pro"; }
.chaparral { font-family: "chaparral-pro"; }
.spinoza { font-family: "ff-spinoza-web-pro"; }
.warnock { font-family: "warnock-pro"; }
.open-sans { font-family: "open-sans"; }
.freight-sans { font-family: "freight-sans-pro"; }

.wrap {
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
}

.show-baseline {
  background-image: url(../images/baseline-16.svg);
  // background-size: .5rem .5rem;
  background-size: .5rem .5rem;
}
.baseline-ksr {
  background-size: 10px 10px;
}

$blueprint: #07a;
.outline, .outline * {
  color: rgba($blueprint,.6);
  outline: 1px solid rgba($blueprint, .3);
  input {
    border-color: rgba($blueprint, .6);
    background-color: rgba(#fff,.2);
  }
  .button {
    background-color: rgba($blueprint, .2);
  }
}

