/*

  to-do
  - More form elements
  - 

*/
/*

  BASSCSS

  Part reset, part boilerplate, part framework, all minimal.

  BASSCSS is a small reset and collection of simple type and layout
  classes that can be used as the basis for any web project.
  Use it out of the box or as a base for a larger SASS project.


  Contents:
  1. Reset
  2. Typography
     a. Default Font Stack
     b. Base Type Scale
     c. Responsive Type Scale
     d. Utilities
  3. Layout
     a. Margins
     b. Padding
     c. Display
     d. Utilities


  Made with love by Jxnblk

*/
h1, h2, h3, h4, h5, h6, p, dl, ol, ul {
  margin-top: 0; }

body, button, input, select, textarea {
  margin: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5rem; }

h1, .h1, h2, .h2, h3, h4, h5, h6, p, dl, ol, ul {
  margin-bottom: 1rem; }

h1, .h1 {
  font-size: 2rem;
  line-height: 3rem; }

h2, .h2 {
  font-size: 1.5rem;
  line-height: 2rem; }

h3, h4, h5, h6, dl, ol, ul, p, .p {
  font-size: 1.125rem; }

small, .small {
  font-size: .875rem; }

@media (min-width: 768px) {
  .responsive .h1, .responsive.h1 {
    font-size: 4rem;
    line-height: 5rem; }
  .responsive .h2, .responsive.h2 {
    font-size: 2rem;
    line-height: 3rem; }
  .responsive .p, .responsive.p {
    font-size: 1.25rem; }
  .responsive .small, .responsive.small {
    font-size: 1rem; } }
@media (min-width: 1024px) {
  .responsive .h1, .responsive.h1 {
    font-size: 6rem;
    line-height: 8rem; }
  .responsive .h2, .responsive.h2 {
    font-size: 3rem;
    line-height: 4rem; } }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.regular {
  font-weight: normal; }

.caps {
  text-transform: uppercase;
  letter-spacing: .2em; }

.center {
  text-align: center; }

.right-align {
  text-align: right; }

.mb0 {
  margin-bottom: 0; }

.m1 {
  margin: 1rem; }

.mt1 {
  margin-top: 1rem; }

.mr1 {
  margin-right: 1rem; }

.mb1 {
  margin-bottom: 1rem; }

.ml1 {
  margin-left: 1rem; }

.m2 {
  margin: 2rem; }

.mt2 {
  margin-top: 2rem; }

.mr2 {
  margin-right: 2rem; }

.mb2 {
  margin-bottom: 2rem; }

.ml2 {
  margin-left: 2rem; }

.m3 {
  margin: 3rem; }

.mt3 {
  margin-top: 3rem; }

.mr3 {
  margin-right: 3rem; }

.mb3 {
  margin-bottom: 3rem; }

.ml3 {
  margin-left: 3rem; }

.m4 {
  margin: 4rem; }

.mt4 {
  margin-top: 4rem; }

.mr4 {
  margin-right: 4rem; }

.mb4 {
  margin-bottom: 4rem; }

.ml4 {
  margin-left: 4rem; }

.mx-auto {
  margin-right: auto;
  margin-left: auto; }

.p1 {
  padding: 1rem; }

.px1 {
  padding-right: 1rem;
  padding-left: 1rem; }

.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p2 {
  padding: 2rem; }

.px2 {
  padding-right: 2rem;
  padding-left: 2rem; }

.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p3 {
  padding: 3rem; }

.px3 {
  padding-right: 3rem;
  padding-left: 3rem; }

.py3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p4 {
  padding: 4rem; }

.px4 {
  padding-right: 4rem;
  padding-left: 4rem; }

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.clearfix {
  overflow: hidden; }

.left {
  float: left; }

.right {
  float: right; }

.fit {
  max-width: 100%; }

.button {
  font-family: inherit;
  font-weight: bold;
  font-smoothing: antialiased;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-appearance: none;
  white-space: nowrap;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: inline-block;
  line-height: 2.5rem;
  padding: 0 1rem;
  border-radius: .25rem; }

.form {
  font-size: 1rem; }
  .form input[type='text'] {
    appearance: none;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    outline: none;
    max-width: 100%;
    height: 2.5rem;
    line-height: 2rem;
    padding: .5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-radius: .25rem; }
  .form select {
    -webkit-appearance: menulist-button;
    height: 2rem;
    margin-right: 0;
    margin-left: 0; }

.form-stacked input[type='text'], .form-stacked label, .form-stacked select {
  display: block; }
.form-stacked input[type='text'], .form-stacked select {
  margin-bottom: 1rem; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.absolute-center {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.t0 {
  top: 0; }

.r0 {
  right: 0; }

.b0 {
  bottom: 0; }

.l0 {
  left: 0; }

.wrap {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 769px) {
  .grid-row,
  .wrap {
    overflow: hidden; }
    .grid-row:before,
    .wrap:before {
      content: ' ';
      float: left;
      width: 2%;
      height: 1px; }
    .grid-row:after,
    .wrap:after {
      content: ' ';
      float: left;
      width: 2%;
      height: 1px; }

  .grid {
    float: left;
    margin-right: 1%;
    margin-left: 1%; }

  .grid-1 {
    width: 6.0%; }

  .grid--l1 {
    margin-left: 9.0%; }

  .grid--r1 {
    margin-right: 9.0%; }

  .wrap-1 {
    width: 6.0%;
    max-width: 4.5rem;
    margin-right: auto;
    margin-left: auto; }

  .grid-2 {
    width: 14.0%; }

  .grid--l2 {
    margin-left: 17.0%; }

  .grid--r2 {
    margin-right: 17.0%; }

  .wrap-2 {
    width: 14.0%;
    max-width: 10.5rem;
    margin-right: auto;
    margin-left: auto; }

  .grid-3 {
    width: 22%; }

  .grid--l3 {
    margin-left: 25%; }

  .grid--r3 {
    margin-right: 25%; }

  .wrap-3 {
    width: 22%;
    max-width: 16.5rem;
    margin-right: auto;
    margin-left: auto; }

  .grid-4 {
    width: 30.0%; }

  .grid--l4 {
    margin-left: 33.0%; }

  .grid--r4 {
    margin-right: 33.0%; }

  .wrap-4 {
    width: 30.0%;
    max-width: 22.5rem;
    margin-right: auto;
    margin-left: auto; }

  .grid-5 {
    width: 38.0%; }

  .grid--l5 {
    margin-left: 41.0%; }

  .grid--r5 {
    margin-right: 41.0%; }

  .wrap-5 {
    width: 38.0%;
    max-width: 28.5rem;
    margin-right: auto;
    margin-left: auto; }

  .grid-6 {
    width: 46%; }

  .grid--l6 {
    margin-left: 49%; }

  .grid--r6 {
    margin-right: 49%; }

  .wrap-6 {
    width: 46%;
    max-width: 34.5rem;
    margin-right: auto;
    margin-left: auto; }

  .grid-7 {
    width: 54%; }

  .grid--l7 {
    margin-left: 57%; }

  .grid--r7 {
    margin-right: 57%; }

  .wrap-7 {
    width: 54%;
    max-width: 40.5rem;
    margin-right: auto;
    margin-left: auto; }

  .grid-8 {
    width: 62.0%; }

  .grid--l8 {
    margin-left: 65.0%; }

  .grid--r8 {
    margin-right: 65.0%; }

  .wrap-8 {
    width: 62.0%;
    max-width: 46.5rem;
    margin-right: auto;
    margin-left: auto; }

  .grid-9 {
    width: 70%; }

  .grid--l9 {
    margin-left: 73%; }

  .grid--r9 {
    margin-right: 73%; }

  .wrap-9 {
    width: 70%;
    max-width: 52.5rem;
    margin-right: auto;
    margin-left: auto; }

  .grid-10 {
    width: 78.0%; }

  .grid--l10 {
    margin-left: 81.0%; }

  .grid--r10 {
    margin-right: 81.0%; }

  .wrap-10 {
    width: 78.0%;
    max-width: 58.5rem;
    margin-right: auto;
    margin-left: auto; }

  .grid-11 {
    width: 86.0%; }

  .grid--l11 {
    margin-left: 89.0%; }

  .grid--r11 {
    margin-right: 89.0%; }

  .wrap-11 {
    width: 86.0%;
    max-width: 64.5rem;
    margin-right: auto;
    margin-left: auto; }

  .grid-12 {
    width: 94%; }

  .grid--l12 {
    margin-left: 97%; }

  .grid--r12 {
    margin-right: 97%; }

  .wrap-12 {
    width: 94%;
    max-width: 70.5rem;
    margin-right: auto;
    margin-left: auto; } }
.x25 {
  width: 25%; }

.x50 {
  width: 50%; }

.x75 {
  width: 75%; }

.x100 {
  width: 100%; }

.x33 {
  width: 33.33333%; }

.x66 {
  width: 66.66667%; }

@media (max-width: 640px) {
  .s-x25 {
    width: 25%; }

  .s-x50 {
    width: 50%; }

  .s-x75 {
    width: 75%; }

  .s-x100 {
    width: 100%; }

  .s-x33 {
    width: 33.33333%; }

  .s-x66 {
    width: 66.66667%; } }
@media (min-width: 641px) and (max-width: 1024px) {
  .m-x25 {
    width: 25%; }

  .m-x50 {
    width: 50%; }

  .m-x75 {
    width: 75%; }

  .m-x100 {
    width: 100%; }

  .m-x33 {
    width: 33.33333%; }

  .m-x66 {
    width: 66.66667%; } }
@media (min-width: 1025px) {
  .l-x25 {
    width: 25%; }

  .l-x50 {
    width: 50%; }

  .l-x75 {
    width: 75%; }

  .l-x100 {
    width: 100%; }

  .l-x33 {
    width: 33.33333%; }

  .l-x66 {
    width: 66.66667%; } }
.bar {
  min-height: 3rem;
  line-height: 3rem; }

html, body {
  height: 100%; }

.banner {
  width: 100%; }
  .banner:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.y100 {
  height: 100%; }

.y75 {
  height: 75%; }

.y50 {
  height: 50%; }

.y25 {
  height: 25%; }

.pull-x12 {
  margin-left: -12.5%; }

.pull-x25 {
  margin-left: -25%; }

.pull-x50 {
  margin-left: -50%; }

.pull-x75 {
  margin-left: -75%; }

.pull-x33 {
  margin-left: -percentage(1/3); }

.pull-x66 {
  margin-left: -percentage(2/3); }

.push-x12 {
  margin-right: -12.5%; }

.push-x25 {
  margin-right: -25%; }

.push-x50 {
  margin-right: -50%; }

.push-x75 {
  margin-right: -75%; }

.push-x33 {
  margin-right: -percentage(1/3); }

.push-x66 {
  margin-right: -percentage(2/3); }

@media (max-width: 640px) {
  .s-pull-x12 {
    margin-left: -12.5%; }

  .s-pull-x25 {
    margin-left: -25%; }

  .s-pull-x50 {
    margin-left: -50%; }

  .s-pull-x75 {
    margin-left: -75%; }

  .s-pull-x33 {
    margin-left: -percentage(1/3); }

  .s-pull-x66 {
    margin-left: -percentage(2/3); }

  .s-push-x12 {
    margin-right: -12.5%; }

  .s-push-x25 {
    margin-right: -25%; }

  .s-push-x50 {
    margin-right: -50%; }

  .s-push-x75 {
    margin-right: -75%; }

  .s-push-x33 {
    margin-right: -percentage(1/3); }

  .s-push-x66 {
    margin-right: -percentage(2/3); } }
@media (min-width: 641px) and (max-width: 1024px) {
  .m-pull-x12 {
    margin-left: -12.5%; }

  .m-pull-x25 {
    margin-left: -25%; }

  .m-pull-x50 {
    margin-left: -50%; }

  .m-pull-x75 {
    margin-left: -75%; }

  .m-pull-x33 {
    margin-left: -percentage(1/3); }

  .m-pull-x66 {
    margin-left: -percentage(2/3); }

  .m-push-x12 {
    margin-right: -12.5%; }

  .m-push-x25 {
    margin-right: -25%; }

  .m-push-x50 {
    margin-right: -50%; }

  .m-push-x75 {
    margin-right: -75%; }

  .m-push-x33 {
    margin-right: -percentage(1/3); }

  .m-push-x66 {
    margin-right: -percentage(2/3); } }
@media (min-width: 1024px) {
  .l-pull-x12 {
    margin-left: -12.5%; }

  .l-pull-x25 {
    margin-left: -25%; }

  .l-pull-x50 {
    margin-left: -50%; }

  .l-pull-x75 {
    margin-left: -75%; }

  .l-pull-x33 {
    margin-left: -percentage(1/3); }

  .l-pull-x66 {
    margin-left: -percentage(2/3); }

  .l-push-x12 {
    margin-right: -12.5%; }

  .l-push-x25 {
    margin-right: -25%; }

  .l-push-x50 {
    margin-right: -50%; }

  .l-push-x75 {
    margin-right: -75%; }

  .l-push-x33 {
    margin-right: -percentage(1/3); }

  .l-push-x66 {
    margin-right: -percentage(2/3); } }
body {
  color: #555; }

.white {
  color: #fff; }

.bg-white {
  background-color: #fff; }

.blue {
  color: #00aadd; }

.bg-blue {
  background-color: #00aadd; }

.button-blue {
  color: #fff;
  background-color: #00aadd; }
  .button-blue:hover {
    background-color: #11c8ff; }

.outline, .outline * {
  color: rgba(0, 170, 221, 0.6);
  outline: 1px solid rgba(0, 170, 221, 0.3); }
  .outline input, .outline * input {
    border-color: rgba(0, 170, 221, 0.6);
    background-color: rgba(255, 255, 255, 0.2); }
  .outline .button, .outline * .button {
    background-color: rgba(0, 170, 221, 0.2); }

.outline2, .outline2 * {
  outline: 1px solid rgba(0, 170, 221, 0.3); }
  .outline2 input, .outline2 * input {
    border-color: rgba(0, 170, 221, 0.6);
    background-color: rgba(255, 255, 255, 0.2); }
  .outline2 button, .outline2 * button {
    color: #fff;
    background-color: #00aadd; }

.georgia {
  font-family: Georgia, serif; }

.aktive {
  font-family: "aktiv-grotesk-std" sans-serif; }

.garamond {
  font-family: "adobe-garamond-pro"; }

.tisa {
  font-family: "ff-tisa-web-pro"; }

.chaparral {
  font-family: "chaparral-pro"; }

.spinoza {
  font-family: "ff-spinoza-web-pro"; }

.warnock {
  font-family: "warnock-pro"; }

.open-sans {
  font-family: "open-sans"; }

.freight-sans {
  font-family: "freight-sans-pro"; }

.show-baseline {
  background-image: url(../images/baseline-16.svg);
  background-size: .5rem .5rem; }

.baseline-ksr {
  background-size: 10px 10px; }
