/*

  BASSCSS
  http://jxnblk.github.io/basscss
  Made with love by Jxnblk

*/
h1, h2, h3, h4, h5, h6, p, dl, ol, ul {
  margin-top: 0; }

body, button, input, select, textarea {
  margin: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

.mb0 {
  margin-bottom: 0; }

.m1 {
  margin: 1rem; }

.mt1 {
  margin-top: 1rem; }

.mr1 {
  margin-right: 1rem; }

.mb1 {
  margin-bottom: 1rem; }

.ml1 {
  margin-left: 1rem; }

.mxn1 {
  margin-right: -1rem;
  margin-left: -1rem; }

.m2 {
  margin: 2rem; }

.mt2 {
  margin-top: 2rem; }

.mr2 {
  margin-right: 2rem; }

.mb2 {
  margin-bottom: 2rem; }

.ml2 {
  margin-left: 2rem; }

.m3 {
  margin: 3rem; }

.mt3 {
  margin-top: 3rem; }

.mr3 {
  margin-right: 3rem; }

.mb3 {
  margin-bottom: 3rem; }

.ml3 {
  margin-left: 3rem; }

.m4 {
  margin: 4rem; }

.mt4 {
  margin-top: 4rem; }

.mr4 {
  margin-right: 4rem; }

.mb4 {
  margin-bottom: 4rem; }

.ml4 {
  margin-left: 4rem; }

.mx-auto {
  margin-right: auto;
  margin-left: auto; }

.p1 {
  padding: 1rem; }

.px1 {
  padding-right: 1rem;
  padding-left: 1rem; }

.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pr1 {
  padding-right: 1rem; }

.p2 {
  padding: 2rem; }

.px2 {
  padding-right: 2rem;
  padding-left: 2rem; }

.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p3 {
  padding: 3rem; }

.px3 {
  padding-right: 3rem;
  padding-left: 3rem; }

.py3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p4 {
  padding: 4rem; }

.px4 {
  padding-right: 4rem;
  padding-left: 4rem; }

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.oh {
  overflow: hidden; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }
.clearfix:after {
  clear: both; }

.fit {
  max-width: 100%; }

.bb {
  box-sizing: border-box; }

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5rem; }

h1, h2, h3, h4, h5, h6, p, dl, ol, ul {
  margin-bottom: 1rem; }

h1, .h1 {
  font-size: 2rem;
  line-height: 3rem; }

h2, .h2 {
  font-size: 1.5rem;
  line-height: 2rem; }

h3, h4, h5, h6, dl, ol, ul, p, .p {
  font-size: 1.125rem; }

small, .small {
  font-size: .875rem; }

@media (min-width: 768px) {
  .responsive .h1, .responsive.h1 {
    font-size: 4rem;
    line-height: 5rem; }
  .responsive .h2, .responsive.h2 {
    font-size: 2rem;
    line-height: 3rem; }
  .responsive .p, .responsive.p {
    font-size: 1.25rem; }
  .responsive .small, .responsive.small {
    font-size: 1rem; } }
@media (min-width: 1024px) {
  .responsive .h1, .responsive.h1 {
    font-size: 6rem;
    line-height: 8rem; }
  .responsive .h2, .responsive.h2 {
    font-size: 3rem;
    line-height: 4rem; } }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.regular {
  font-weight: normal; }

.caps {
  text-transform: uppercase;
  letter-spacing: .2em; }

.center {
  text-align: center; }

.right-align {
  text-align: right; }

.button {
  font-family: inherit;
  font-weight: bold;
  font-smoothing: antialiased;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-appearance: none;
  white-space: nowrap;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: inline-block;
  line-height: 2.5rem;
  padding: 0 1rem;
  border-radius: .25rem; }

.form {
  font-size: 1rem; }
  .form input[type='text'] {
    appearance: none;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    outline: none;
    max-width: 100%;
    height: 2.5rem;
    line-height: 2rem;
    padding: .5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-radius: .25rem; }
  .form select {
    -webkit-appearance: menulist-button;
    height: 2rem;
    margin-right: 0;
    margin-left: 0; }

.form-stacked input[type='text'], .form-stacked label, .form-stacked select {
  display: block; }
.form-stacked input[type='text'], .form-stacked select {
  margin-bottom: 1rem; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.absolute-center {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.t0 {
  top: 0; }

.r0 {
  right: 0; }

.b0 {
  bottom: 0; }

.l0 {
  left: 0; }

.x25 {
  width: 25%; }

.x50 {
  width: 50%; }

.x75 {
  width: 75%; }

.x100 {
  width: 100%; }

.x33 {
  width: 33.33333%; }

.x66 {
  width: 66.66667%; }

@media (max-width: 640px) {
  .s-x25 {
    width: 25%; }

  .s-x50 {
    width: 50%; }

  .s-x75 {
    width: 75%; }

  .s-x100 {
    width: 100%; }

  .s-x33 {
    width: 33.33333%; }

  .s-x66 {
    width: 66.66667%; } }
@media (min-width: 641px) and (max-width: 1024px) {
  .m-x25 {
    width: 25%; }

  .m-x50 {
    width: 50%; }

  .m-x75 {
    width: 75%; }

  .m-x100 {
    width: 100%; }

  .m-x33 {
    width: 33.33333%; }

  .m-x66 {
    width: 66.66667%; } }
@media (min-width: 1025px) {
  .l-x25 {
    width: 25%; }

  .l-x50 {
    width: 50%; }

  .l-x75 {
    width: 75%; }

  .l-x100 {
    width: 100%; }

  .l-x33 {
    width: 33.33333%; }

  .l-x66 {
    width: 66.66667%; } }
body {
  color: #555; }

.white {
  color: #fff; }

.bg-white {
  background-color: #fff; }

.blue {
  color: #00aadd; }

.bg-blue {
  background-color: #00aadd; }

.bg-pink {
  background-color: pink; }

.button-blue {
  color: #fff;
  background-color: #00aadd; }
  .button-blue:hover {
    background-color: #11c8ff; }

.outline, .outline * {
  color: rgba(0, 170, 221, 0.6);
  outline: 1px solid rgba(0, 170, 221, 0.3); }
  .outline input, .outline * input {
    border-color: rgba(0, 170, 221, 0.6);
    background-color: rgba(255, 255, 255, 0.2); }
  .outline .button, .outline * .button {
    background-color: rgba(0, 170, 221, 0.2); }

.outline2, .outline2 * {
  outline: 1px solid rgba(0, 170, 221, 0.3); }
  .outline2 input, .outline2 * input {
    border-color: rgba(0, 170, 221, 0.6);
    background-color: rgba(255, 255, 255, 0.2); }
  .outline2 button, .outline2 * button {
    color: #fff;
    background-color: #00aadd; }

.x1 {
  width: 8.33333%; }

.mlx1 {
  margin-left: 8.33333%; }

.mrx1 {
  margin-right: 8.33333%; }

.x2 {
  width: 16.66667%; }

.mlx2 {
  margin-left: 16.66667%; }

.mrx2 {
  margin-right: 16.66667%; }

.x3 {
  width: 25%; }

.mlx3 {
  margin-left: 25%; }

.mrx3 {
  margin-right: 25%; }

.x4 {
  width: 33.33333%; }

.mlx4 {
  margin-left: 33.33333%; }

.mrx4 {
  margin-right: 33.33333%; }

.x5 {
  width: 41.66667%; }

.mlx5 {
  margin-left: 41.66667%; }

.mrx5 {
  margin-right: 41.66667%; }

.x6 {
  width: 50%; }

.mlx6 {
  margin-left: 50%; }

.mrx6 {
  margin-right: 50%; }

.x7 {
  width: 58.33333%; }

.mlx7 {
  margin-left: 58.33333%; }

.mrx7 {
  margin-right: 58.33333%; }

.x8 {
  width: 66.66667%; }

.mlx8 {
  margin-left: 66.66667%; }

.mrx8 {
  margin-right: 66.66667%; }

.x9 {
  width: 75%; }

.mlx9 {
  margin-left: 75%; }

.mrx9 {
  margin-right: 75%; }

.x10 {
  width: 83.33333%; }

.mlx10 {
  margin-left: 83.33333%; }

.mrx10 {
  margin-right: 83.33333%; }

.x11 {
  width: 91.66667%; }

.mlx11 {
  margin-left: 91.66667%; }

.mrx11 {
  margin-right: 91.66667%; }

.x12 {
  width: 100%; }

.mlx12 {
  margin-left: 100%; }

.mrx12 {
  margin-right: 100%; }

html, body {
  height: 100%; }

.banner {
  width: 100%; }
  .banner:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.min-y100 {
  min-height: 100%; }

.y100 {
  height: 100%; }

.y75 {
  height: 75%; }

.y50 {
  height: 50%; }

.y25 {
  height: 25%; }

.show-baseline {
  background-image: url(../images/baseline-16.svg);
  background-size: .5rem .5rem; }

/*
 *
 * Some messy, messy notes

  - Add more form elements

  - BASSCSS include file

  _breakpoints
  _prefixer
  _keyframes

  _margins
  _padding
  _utilities
    _display
    _float
  _type
    - more typeface utils in tempo
  _lists
  _forms
    - input type text
    - input type text with icon
    - textarea
    - input type submit
    - disabled input
    - button
    - radio
    - checkbox
    - selects
    - select multiple
    - fieldsets
    - file input
    - html5 drop area uploader
  _positions
  _grid
    - g widths
    - g margins
    - g padding
    - g wraps -- .wrap .wrap--g8 
    - gutters ?

  _theme
    - sample themes

  # Tempo for typefaces
  _webfonts
  _merriweather
  _open-sans
  _source-code-pro
  _source-sans-pro

  _oswald & _lato
  _typekit fonts
  
  _debugger

  # Abbreviated naming conventions
  #
  # abcdefghijklmnopqrstuvwxyz
  # i1 i3  g3  g4  c1  c4  c8  c12 g12 c12 g12 
  #
  # mx-x8 ml-x8 mlx8  x12 x1 x2 
  #
  # mxg4 mxx8 mlx8 mrx8 mri8 mrg8 mlg8 mxc3 mlc2 mrc2  mrg8 mlg3  pxc3 pxg3 pxi3  o2 o4 o6  
  # pxo3 mxo3  mxn3 n2 n5 n5 
  #
  # pxx1 pxx2 pxx3 px1 px3   pxg2 

  block-word-separator
  block_element
  block--modifier

  x - x-axis
  y - y-axis
  z - z-axis

  t, r, b, l - top, right, bottom, left

  p - padding
  m - margin

  bp1 - breakpoint 1
  bp2 - breakpoint 2
  bp3 - breakpoint 3
  alternates: b1 - b3; v1 - v3 (viewport); w1 - w3 (width); 

  g - grid column width (1 = 1/12)
  alternates: c (column or cell); x (width) - could be confused with direction; 

*/
