/*
 
  TEMPO

  Responsive layout modules for BASSCSS
  http://jxnblk.github.io/tempo

  Made with love by Jxnblk (c)2014 Brent Jackson
  MIT License http://opensource.org/licenses/MIT
 
*/
.container {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
}

.mobile-grid {
  float: left;
  margin-left: 3%;
}
.mobile-grid:first-child {
  margin-left: 0;
}

.mobile-grid-1 {
  width: 5.58333%;
}

.mobile-grid-2 {
  width: 14.16667%;
}

.mobile-grid-3 {
  width: 22.75%;
}

.mobile-grid-4 {
  width: 31.33333%;
}

.mobile-grid-5 {
  width: 39.91667%;
}

.mobile-grid-6 {
  width: 48.5%;
}

.mobile-grid-7 {
  width: 57.08333%;
}

.mobile-grid-8 {
  width: 65.66667%;
}

.mobile-grid-9 {
  width: 74.25%;
}

.mobile-grid-10 {
  width: 82.83333%;
}

.mobile-grid-11 {
  width: 91.41667%;
}

@media (min-width: 36rem) {
  .grid {
    float: left;
    margin-left: 3%;
  }
  .grid:first-child {
    margin-left: 0;
  }

  .grid-1 {
    width: 5.58333%;
  }

  .grid-pre-1 {
    margin-left: 11.58333%;
  }
  .grid-pre-1:first-child {
    margin-left: 8.58333%;
  }

  .grid-post-1 {
    margin-right: 8.58333%;
  }

  .grid-2 {
    width: 14.16667%;
  }

  .grid-pre-2 {
    margin-left: 20.16667%;
  }
  .grid-pre-2:first-child {
    margin-left: 17.16667%;
  }

  .grid-post-2 {
    margin-right: 17.16667%;
  }

  .grid-3 {
    width: 22.75%;
  }

  .grid-4 {
    width: 31.33333%;
  }

  .centered-grid-4 {
    width: 31.33333%;
    max-width: 23.5rem;
    margin-right: auto;
    margin-left: auto;
  }

  .grid-5 {
    width: 39.91667%;
  }

  .grid-6 {
    width: 48.5%;
  }

  .centered-grid-6 {
    width: 48.5%;
    max-width: 36.375rem;
    margin-right: auto;
    margin-left: auto;
  }

  .grid-7 {
    width: 57.08333%;
  }

  .grid-8 {
    width: 65.66667%;
  }

  .centered-grid-8 {
    width: 65.66667%;
    max-width: 49.25rem;
    margin-right: auto;
    margin-left: auto;
  }

  .grid-9 {
    width: 74.25%;
  }

  .grid-10 {
    width: 82.83333%;
  }

  .centered-grid-10 {
    width: 82.83333%;
    max-width: 62.125rem;
    margin-right: auto;
    margin-left: auto;
  }

  .grid-11 {
    width: 91.41667%;
  }
}
.tile-small {
  float: left;
  margin-right: 3%;
}
@media (max-width: 36rem) {
  .tile-small {
    width: 31.33333%;
  }
  .tile-small:nth-child(3n) {
    margin-right: 0;
  }
}
@media (min-width: 36rem) and (max-width: 60rem) {
  .tile-small {
    width: 14.16667%;
  }
  .tile-small:nth-child(6n) {
    margin-right: 0;
  }
}
@media (min-width: 60rem) and (max-width: 75rem) {
  .tile-small {
    width: 8.44444%;
  }
  .tile-small:nth-child(9n) {
    margin-right: 0;
  }
}
@media (min-width: 75rem) {
  .tile-small {
    width: 5.58333%;
  }
  .tile-small:nth-child(12n) {
    margin-right: 0;
  }
}

.tile-medium {
  float: left;
  margin-right: 3%;
}
@media (max-width: 36rem) {
  .tile-medium {
    width: 48.5%;
  }
  .tile-medium:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 36rem) and (max-width: 60rem) {
  .tile-medium {
    width: 22.75%;
  }
  .tile-medium:nth-child(4n) {
    margin-right: 0;
  }
}
@media (min-width: 60rem) and (max-width: 75rem) {
  .tile-medium {
    width: 14.16667%;
  }
  .tile-medium:nth-child(6n) {
    margin-right: 0;
  }
}
@media (min-width: 75rem) {
  .tile-medium {
    width: 9.875%;
  }
  .tile-medium:nth-child(8n) {
    margin-right: 0;
  }
}

@media (min-width: 36rem) {
  .tile-large {
    float: left;
    margin-right: 3%;
  }
}
@media (min-width: 36rem) and (max-width: 60rem) {
  .tile-large {
    width: 48.5%;
  }
  .tile-large:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 60rem) and (max-width: 75rem) {
  .tile-large {
    width: 31.33333%;
  }
  .tile-large:nth-child(3n) {
    margin-right: 0;
  }
}
@media (min-width: 75rem) {
  .tile-large {
    width: 22.75%;
  }
  .tile-large:nth-child(4n) {
    margin-right: 0;
  }
}
