/*
 
  TEMPO

  Responsive layout modules for BASSCSS
  http://jxnblk.github.io/tempo

  Made with love by Jxnblk (c)2014 Brent Jackson
  MIT License http://opensource.org/licenses/MIT
 
*/
.container {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto; }

.grid-container {
  margin-right: -1rem;
  margin-left: -1rem; }

.mobile-grid {
  float: left; }

.mobile-grid-1 {
  width: 8.33333%; }

.mobile-grid-2 {
  width: 16.66667%; }

.mobile-grid-3 {
  width: 25%; }

.mobile-grid-4 {
  width: 33.33333%; }

.mobile-grid-5 {
  width: 41.66667%; }

.mobile-grid-6 {
  width: 50%; }

.mobile-grid-7 {
  width: 58.33333%; }

.mobile-grid-8 {
  width: 66.66667%; }

.mobile-grid-9 {
  width: 75%; }

.mobile-grid-10 {
  width: 83.33333%; }

.mobile-grid-11 {
  width: 91.66667%; }

.grid,
.mobile-grid {
  box-sizing: border-box;
  padding-right: 1rem;
  padding-left: 1rem; }

@media screen and (min-width: 36em) {
  .grid {
    float: left; }

  .grid-1, .mobile-grid-1 {
    width: 8.33333%; }

  .grid-pre-1 {
    margin-left: 8.33333%; }

  .grid-post-1 {
    margin-right: 8.33333%; }

  .grid-2, .mobile-grid-2 {
    width: 16.66667%; }

  .grid-pre-2 {
    margin-left: 16.66667%; }

  .grid-post-2 {
    margin-right: 16.66667%; }

  .grid-3, .mobile-grid-3 {
    width: 25%; }

  .grid-4, .mobile-grid-4 {
    width: 33.33333%; }

  .centered-grid-4 {
    width: 33.33333%;
    box-sizing: border-box;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto; }

  .grid-5, .mobile-grid-5 {
    width: 41.66667%; }

  .grid-6, .mobile-grid-6 {
    width: 50%; }

  .centered-grid-6 {
    width: 50%;
    box-sizing: border-box;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto; }

  .grid-7, .mobile-grid-7 {
    width: 58.33333%; }

  .grid-8, .mobile-grid-8 {
    width: 66.66667%; }

  .centered-grid-8 {
    width: 66.66667%;
    box-sizing: border-box;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto; }

  .grid-9, .mobile-grid-9 {
    width: 75%; }

  .grid-10, .mobile-grid-10 {
    width: 83.33333%; }

  .centered-grid-10 {
    width: 83.33333%;
    box-sizing: border-box;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto; }

  .grid-11, .mobile-grid-11 {
    width: 91.66667%; } }
