// Tempo theme

$blue: #00b9ef;
$dark-blue: #00669f;
$light-gray: #eee;
$mid-gray: #777;
$dark-gray: #333;

// From Jxnblk Style Guide
//$blue: #0096cc;
$light-gray: #eaeff0;
$mid-gray: #708690;
$dark-gray: #405660;

.white { color: #fff; }
.blue { color: $blue; }
.dark-blue { color: $dark-blue; }
.light-gray { color: $light-gray; }
.mid-gray { color: $mid-gray; }
.dark-gray { color: $dark-gray; }

.bg-white { background-color: #fff; }
.bg-blue { background-color: $blue; }
.bg-dark-blue { background-color: rgba($dark-blue,.8); }
.bg-light-gray { background-color: $light-gray; }
.bg-mid-gray { background-color: $mid-gray; }
.bg-dark-gray { background-color: $dark-gray; }

.bg-darken-1 { background-color: rgba(#000, .1); }
.bg-darken-2 { background-color: rgba(#000, .2); }
.bg-darken-3 { background-color: rgba(#000, .3); }

.reverse {
  color: #fff;
  background-color: $dark-gray;
  //box-shadow: inset 0 0 4rem rgba($blue, .4);
}

// Base theme styles

body {
  //color: rgba(#fff,.9);
  //background-color: $blue;
  //box-shadow: inset 0 0 9rem rgba($dark-blue, .8);
  color: $dark-gray;
  background-color: #fff;
}

a {
  //color: #fff;
  color: $blue;
  text-decoration: none;
  &:hover {
    //color: darken($blue, 10%);
    text-decoration: underline;
  }
}


// Buttons

.button {
  border-radius: .25rem;
  transition-duration: .2s;
  transition-timing-function: ease;
  transition-property: box-shadow , background-color, transform;
  &:focus {
    outline: none;
    //box-shadow: 0 0 0 2px #fff, 0 0 1px 4px rgba($blue, .5);
  }
  //
  //-webkit-font-smoothing: antialiased;
}

.button-box {
  font-weight: 600;
  color: $blue;
  box-shadow: 0 0 0 2px $blue;
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    background-color: $blue;
    box-shadow: 0 0 0 2px $blue, 0 0 0 4px #fff, 0 0 0 6px rgba($blue, .6);
  }
}

.button-white {
  color: $dark-blue;
  background-color: rgba(#fff,.8);
  box-shadow: inset 0 0 4rem rgba($blue, .4);
  &:focus,
  &:hover {
    text-decoration: none;
    color: $dark-blue;
    background-color: #fff;
    box-shadow: 0 0 0 2px $blue, 0 0 0 4px rgba(#fff, .6);
    -webkit-transform: scale(1.0625);
    transform: scale(1.25);
  }
  &:active {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.button-blue {
  color: #fff;
  background-color: $blue;
  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: darken($blue, 20%);
  }
}





// Utilities
.rounded { border-radius: .25rem; }


.outline { box-shadow: inset 0 0 0 1px rgba(darken($blue, 20%), .2); }
.box { box-shadow: inset 0 0 0 2px rgba($dark-gray, .5); }

.bg-grid {
  //background-image: url(grid-rules.svg);
  //background-size: 100% 1rem;
}

.box-over {
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    opacity: .5;
  }
  &:before {
    left: -2.5%;
    top: 0; bottom: 0;
    width: 105%;
    height: 100%;
    border-top: 1px solid $dark-gray;
    border-bottom: 1px solid $dark-gray;
  }
  &:after {
    content: '';
    position: absolute;
    top: -10%;
    right: 0;
    width: 100%;
    height: 120%;
    border-left: 1px solid $dark-gray;
    border-right: 1px solid $dark-gray;
  }
}

