---
---
<!doctype html> 
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <title>Tempo Templates</title>
  <meta name="author" content="Jxnblk">
  <meta name="description" content="Example templates for layouts using the Tempo grid system">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../site/style.css">
  <link rel="stylesheet" href="../tempo.css" />
</head>
<body class="px2">

  <!--
  <header class="center container py4">
    <h1 class="caps caps-center h1 mb0 inline-block">Tempo</h1>
    <p class="h3 mb2">Example Templates</p>
  </header>
  -->

  <section id="3-columns" class="container py4">
    <header class="white bg-blue">
      <h1 class="h2 mb0">3 Column Layout</h1>
    </header>
    <div class="row">
      <div class="col col-3">
        <div class="bg-mid-gray">
          <h2>3 Column Sidebar</h2>
          <p>Lorem stuff</p>
        </div>
      </div>
      <div class="col col-7">
        <div class="white bg-dark-gray">
          <h1>Center Flexible column</h1>
        </div>
      </div>
      <div class="col col-2">
        <div class="bg-mid-gray">
          <h2>2 Column Right Sidebar</h2>
          <p>More lorem</p>
        </div>
      </div>
    </div>
    <footer class="bg-light-gray">
      <p>Footer</p>
    </footer>
  </section>

  <section id="2-column" class="container py4">
    <header class="white bg-blue">
      <h1>2 Column</h1>
    </header>
    <div class="row">
      <div class="col-right col-8">
        <div class="bg-light-gray">
          <h1>Main content</h1>
        </div>
      </div>
      <div class="col col-4">
        <div class="bg-mid-gray">
          <h2>Left sidebar</h2>
        </div>
      </div>
    </div>
  </section>

  <section id="tiles-half" class="container py4">
    <h1>Half Tiles</h1>
    <div class="row">
      <div class="col col-6">
        <div class="row">
          <div class="mobile-col mobile-col-6 mb1">
            <img src="http://placehold.it/512x256" class="fit"/>
          </div>
          <div class="mobile-col mobile-col-6 mb1">
            <img src="http://placehold.it/512x256" class="fit"/>
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="row">
          <div class="mobile-col mobile-col-6 mb1">
            <img src="http://placehold.it/512x256" class="fit"/>
          </div>
          <div class="mobile-col mobile-col-6 mb1">
            <img src="http://placehold.it/512x256" class="fit"/>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="tiles-thirds" class="container py4">
    <h2>Third and Half Tiles</h2>
    <div class="row">
      <div class="col col-6">
        <div class="row">
          <div class="mobile-col mobile-col-4 mb1">
            <img src="http://placehold.it/256/256" class="fit"/>
          </div>
          <div class="mobile-col mobile-col-4 mb1">
            <img src="http://placehold.it/256/256" class="fit"/>
          </div>
          <div class="mobile-col mobile-col-4 mb1">
            <img src="http://placehold.it/256/256" class="fit"/>
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="row">
          <div class="mobile-col mobile-col-4 mb1">
            <img src="http://placehold.it/256/256" class="fit"/>
          </div>
          <div class="mobile-col mobile-col-4 mb1">
            <img src="http://placehold.it/256/256" class="fit"/>
          </div>
          <div class="mobile-col mobile-col-4 mb1">
            <img src="http://placehold.it/256/256" class="fit"/>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--
  <section id="fake-holy-grail" class="center container py4">
    <header class="white bg-blue">
      <h1 class="h2 mb0">Responsive Fake Holy Grail</h1>
    </header>
    <div class="clearfix xbg-light-gray">
      <div class="col col-3 bg-mid-gray">
        <h2>3 Column Sidebar</h2>
        <p>Lorem stuff</p>
      </div>
      <div class="col-right col-2 bg-mid-gray">
        <h2>2 Column Right Sidebar</h2>
        <p>More lorem</p>
      </div>
      <div class="oh px-gutter white bg-dark-gray">
        <h1>Center Flexible column</h1>
      </div>
    </div>
    <footer class="bg-light-gray">
      <p>Footer</p>
    </footer>
  </section>
  -->

</body>
</html>
