// Buttons

.button {
  font-family: inherit;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  white-space: nowrap;
  display: inline-block;
  line-height: 2rem;
  height: auto;
  min-height: 2rem;
  padding: 0.25rem 1rem;
}

.button-big { padding: 1rem 1.5rem; }

.button-small { padding: 0 1rem; }

