

/*   A U T O B A S S   */


// Variables
$dark-gray: #405660;
$mid-gray: rgba($dark-gray,.25);
$light-gray: #f3f9f9;
//$blue: #00bbee;
$blue: #009fcc;


// Base
body {
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: $dark-gray;
  background-color: white;
}

a {
  word-wrap: break-word;
  text-decoration: none;
  color: $blue;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: 0;
    background-color: rgba($blue,.0625);
    box-shadow: 0 0 1px 2px rgba($blue,.5);
    border-radius: 2px;
  }
}

pre, code, samp, .monospace {
  font-family: 'Source Code Pro', Consolas, monospace;
  font-size: inherit;
}

b, strong, .bold { font-weight: 600; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  margin-top: 1em;
  margin-bottom: .5rem;
  font-weight: bold;
  a {
    color: $dark-gray;
    text-decoration: none;
    &:focus {
      text-decoration: underline;
    }
  }
}

h1, .h1 { font-size: 2rem;    line-height: 1.125; }
h2, .h2 { font-size: 1.5rem;  line-height: 1.25;  }
h3, .h3 { font-size: 1.25em;  line-height: 1.375; }
h4, .h4 { font-size: 1rem;    line-height: 1.375; }
h5, .h5 { font-size: .875rem; line-height: 1.375; }
h6, .h6 { font-size: .75rem;  line-height: 1.375; }

@media (min-width: 48em) {
  h1, .h1 { font-size: 3rem; }
  h2, .h2 { font-size: 2rem; }
}

p { font-size: 1.125rem; }

p code { font-size: 1rem; }

p, dl, ol, ul, blockquote, table {
  margin-top: 0;
  margin-bottom: 1rem;
}

.center { text-align: center; }
.left-align { text-align: left; }
.caps {
  text-transform: uppercase;
  letter-spacing: .2em;
}
.caps-center { padding-left: .2em; }

//hr {
//  height: 1px;
//  margin-top: 2rem;
//  margin-bottom: 2rem;
//  border-top: 0;
//  border-right: 0;
//  border-bottom: 1px solid $mid-gray;
//  border-left: 0;
//}

//img { max-width: 100%; }


code {
  padding-right: .5em;
  padding-left: .5em;
  background-color: $light-gray;
  border-radius: 2px;
  word-wrap: break-word;
}


@import "margins";
@import "padding";
@import "utilities";
@import "buttons";
@import "pygments";
@import "theme";

